@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: alpha(@background, 0.0);
  color: @foreground;
}

#workspaces button {
  background: alpha(@background, 0.6);
  padding: 5px;
  color: @foreground;
  margin-right: 5px;
}

#workspaces button.active {
  background: alpha(@background, 0.6);
  color: @color5;
}

#workspaces button.focused {
  background: alpha(@background, 0.6);
  color: @foreground;
  background: @background;
  border-radius: 10px;
}

#workspaces button.urgent {
  background: alpha(@background, 0.6);
  color: #11111b;
  border-radius: 10px;
}

#workspaces button:hover {
  background: alpha(@background, 0.6);
  color: @foreground;
  border-radius: 10px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#window,
#workspaces {
  background: alpha(@background, 1.0);
  color: @foreground;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 5px;
  border: 1px solid #181825;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: @background;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#cpu {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#memory {
  border-radius: 10px 0px 0px 10px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: @foreground;
  border-radius: 10px 10px 10px 10px;
  margin-left: 5px;
  border-right: 0px;
}

#bluetooth {
  color: @foreground;
  border-radius: 10px 0px 0px 10px;
}

#network {
  color: @foreground;
  border-radius: 10px;
  margin-right: 10px;
}

#pulseaudio {
  color: @foreground;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: @foreground;
}

#battery {
  color: @foreground;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 5px;
}
